# drop_duplicates()
### drop_duplicates(subset=none , keep='First' , inplace=False)

In [4]:
import numpy as np
import pandas as pd
data=pd.read_csv('battingAvg.csv')

data.head()

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s,Team Name
0,0,Abrar Ahmed,2023-2023,3,2,0,0,0,0.00,2,0.00,0,0,2,0,0,Islamabad United
1,1,Ahmed Safi Abdullah,2020-2020,3,2,2,9,8*,-,13,69.23,0,0,0,1,0,Islamabad United
2,2,Akif Javed,2020-2021,11,3,3,0,0*,-,3,0.00,0,0,0,0,0,Islamabad United
3,3,Ali Khan,2021-2021,3,-,-,-,-,-,-,-,-,-,-,-,-,Islamabad United
4,4,Amad Butt,2017-2020,16,9,2,60,17,8.57,57,105.26,0,0,2,3,4,Islamabad United

## drop_duplicates('Team Name')

In [5]:
import numpy as np
import pandas as pd
data=pd.read_csv('battingAvg.csv')

data.drop_duplicates('Team Name')

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s,Team Name
0,0,Abrar Ahmed,2023-2023,3,2,0,0,0,0.00,2,0.00,0,0,2,0,0,Islamabad United
79,0,Aamer Yamin,2019-2023,27,12,3,126,35*,14.00,85,148.23,0,0,2,6,9,Karachi Kings
169,0,Aamer Yamin,2017-2018,5,4,0,27,25,6.75,30,90.00,0,0,1,2,2,Lahore Qalanders
264,0,Aamer Azmat,2022-2022,5,3,0,43,33,14.33,34,126.47,0,0,0,6,0,Multan Sultans
331,0,Aamer Jamal,2023-2023,6,5,1,29,13*,7.25,25,116.00,0,0,0,2,2,Peshawar Zalmi
428,0,Abdul Bangalzai,2022-2023,5,4,0,15,14,3.75,23,65.21,0,0,2,0,1,Quetta Gladiators

## Multiply Column drop_duplicates(subset=['Span','Team Name'])

In [18]:
import numpy as np
import pandas as pd
data=pd.read_csv('battingAvg.csv')

data.drop_duplicates(subset=['Span','Team Name'])

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s,Team Name
0,0,Abrar Ahmed,2023-2023,3,2,0,0,0,0.00,2,0.00,0,0,2,0,0,Islamabad United
1,1,Ahmed Safi Abdullah,2020-2020,3,2,2,9,8*,-,13,69.23,0,0,0,1,0,Islamabad United
2,2,Akif Javed,2020-2021,11,3,3,0,0*,-,3,0.00,0,0,0,0,0,Islamabad United
3,3,Ali Khan,2021-2021,3,-,-,-,-,-,-,-,-,-,-,-,-,Islamabad United
4,4,Amad Butt,2017-2020,16,9,2,60,17,8.57,57,105.26,0,0,2,3,4,Islamabad United
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
485,57,Qais Ahmad,2021-2023,6,4,2,44,17*,22.00,30,146.66,0,0,0,5,2,Quetta Gladiators
488,60,RR Rossouw,2017-2019,31,29,7,750,76*,34.09,585,128.20,0,3,0,64,26,Quetta Gladiators
489,61,JJ Roy,2018-2023,23,23,2,834,145*,39.71,567,147.08,2,4,3,97,30,Quetta Gladiators
506,78,Umar Gul,2016-2017,8,3,0,2,2,0.66,6,33.33,0,0,2,0,0,Quetta Gladiators
511,83,SR Watson,2018-2020,31,31,3,996,91*,35.57,692,143.93,0,8,2,94,60,Quetta Gladiators

## keep='last'

In [21]:
import numpy as np
import pandas as pd
data=pd.read_csv('battingAvg.csv')

data.drop_duplicates('Team Name',keep='last')

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s,Team Name
78,78,Zohaib Khan,2017-2017,1,-,-,-,-,-,-,-,-,-,-,-,-,Islamabad United
168,89,D Wiese,2018-2018,1,1,0,5,5,5.00,6,83.33,0,0,0,1,0,Karachi Kings
263,94,Zohaib Khan,2016-2016,7,4,3,18,10*,18.00,13,138.46,0,0,1,1,0,Lahore Qalanders
330,66,Zeeshan Ashraf,2020-2020,11,11,0,202,52,18.36,155,130.32,0,2,0,25,6,Multan Sultans
427,96,Yasir Shah,2020-2020,4,1,1,1,1*,-,1,100.00,0,0,0,0,0,Peshawar Zalmi
520,92,Zulfiqar Babar,2016-2017,18,6,3,23,20*,7.66,17,135.29,0,0,2,1,1,Quetta Gladiators

## Only Two colums

In [22]:
import numpy as np
import pandas as pd
data=pd.read_csv('battingAvg.csv')

data.drop_duplicates('Team Name',keep='last')[['Team Name','Span']]

             Team Name       Span
78    Islamabad United  2017-2017
168      Karachi Kings  2018-2018
263   Lahore Qalanders  2016-2016
330     Multan Sultans  2020-2020
427     Peshawar Zalmi  2020-2020
520  Quetta Gladiators  2016-2017

## sort with dates

In [25]:
import numpy as np
import pandas as pd
data=pd.read_csv('battingAvg.csv')

data.drop_duplicates('Team Name',keep='last')[['Team Name','Span']].sort_values('Span')

             Team Name       Span
263   Lahore Qalanders  2016-2016
520  Quetta Gladiators  2016-2017
78    Islamabad United  2017-2017
168      Karachi Kings  2018-2018
330     Multan Sultans  2020-2020
427     Peshawar Zalmi  2020-2020