# Functions 
#
## data.head() :
### it is only print 1st five rows

In [2]:
import numpy as np
import pandas as pd
data=pd.read_csv('battingAvg.csv')

data.head()

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s,Team Name
0,0,Abrar Ahmed,2023-2023,3,2,0,0,0,0.00,2,0.00,0,0,2,0,0,Islamabad United
1,1,Ahmed Safi Abdullah,2020-2020,3,2,2,9,8*,-,13,69.23,0,0,0,1,0,Islamabad United
2,2,Akif Javed,2020-2021,11,3,3,0,0*,-,3,0.00,0,0,0,0,0,Islamabad United
3,3,Ali Khan,2021-2021,3,-,-,-,-,-,-,-,-,-,-,-,-,Islamabad United
4,4,Amad Butt,2017-2020,16,9,2,60,17,8.57,57,105.26,0,0,2,3,4,Islamabad United

### now only 1st two row print

In [4]:
import numpy as np
import pandas as pd
data=pd.read_csv('battingAvg.csv')
data.head(2)

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s,Team Name
0,0,Abrar Ahmed,2023-2023,3,2,0,0,0,0.00,2,0.00,0,0,2,0,0,Islamabad United
1,1,Ahmed Safi Abdullah,2020-2020,3,2,2,9,8*,-,13,69.23,0,0,0,1,0,Islamabad United

## data.tail() :
### now print last 5 rows

In [5]:
import numpy as np
import pandas as pd
data=pd.read_csv('battingAvg.csv')
data.tail()

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s,Team Name
516,88,Yasir Khan,2023-2023,2,2,0,19,14,9.50,26,73.07,0,0,0,2,0,Quetta Gladiators
517,89,Zahid Mahmood,2020-2021,7,5,2,24,19*,8.00,30,80.00,0,0,2,2,0,Quetta Gladiators
518,90,Zahir Khan,2021-2021,2,2,1,12,6*,12.00,8,150.00,0,0,0,2,0,Quetta Gladiators
519,91,Zahoor Khan,2021-2021,1,-,-,-,-,-,-,-,-,-,-,-,-,Quetta Gladiators
520,92,Zulfiqar Babar,2016-2017,18,6,3,23,20*,7.66,17,135.29,0,0,2,1,1,Quetta Gladiators

### now last two rows print

In [6]:
import numpy as np
import pandas as pd
data=pd.read_csv('battingAvg.csv')
data.tail(2)

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s,Team Name
519,91,Zahoor Khan,2021-2021,1,-,-,-,-,-,-,-,-,-,-,-,-,Quetta Gladiators
520,92,Zulfiqar Babar,2016-2017,18,6,3,23,20*,7.66,17,135.29,0,0,2,1,1,Quetta Gladiators

## data.info() :
### it give all informantion of data

In [7]:
import numpy as np
import pandas as pd
data=pd.read_csv('battingAvg.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 521 entries, 0 to 520
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  521 non-null    int64
 1   Player      521 non-null    object
 2   Span        521 non-null    object
 3   Mat         521 non-null    int64
 4   Inns        521 non-null    object
 5   NO          521 non-null    object
 6   Runs        521 non-null    object
 7   HS          521 non-null    object
 8   Ave         521 non-null    object
 9   BF          521 non-null    object
 10  SR          521 non-null    object
 11  100         521 non-null    object
 12  50          521 non-null    object
 13  0           521 non-null    object
 14  4s          521 non-null    object
 15  6s          521 non-null    object
 16  Team Name   521 non-null    object
dtypes: int64(2), object(15)
memory usage: 69.3+ KB

## data.describe() :
### it will give informantion of numerical data

import numpy as np
import pandas as pd
data=pd.read_csv('battingAvg.csv')
data.describe()