# Sort_value()
#
# Sorting in Series Data

In [9]:
import numpy as np
import pandas as pd

data=pd.read_csv('battingAvg.csv')
print(data['Team Name'].value_counts())
print()
print('Now sorting')

data['Team Name'].value_counts().sort_values()

Team Name
Peshawar Zalmi       97
Lahore Qalanders     95
Quetta Gladiators    93
Karachi Kings        90
Islamabad United     79
Multan Sultans       67
Name: count, dtype: int64

Now sorting

Team Name
Multan Sultans       67
Islamabad United     79
Karachi Kings        90
Quetta Gladiators    93
Lahore Qalanders     95
Peshawar Zalmi       97
Name: count, dtype: int64

# Descending Order

In [19]:
import numpy as np
import pandas as pd

data=pd.read_csv('battingAvg.csv')
print(data['Team Name'].value_counts().sort_values())
print()
print('descending Order')
print()
data['Team Name'].value_counts().sort_values(ascending=False)

Team Name
Multan Sultans       67
Islamabad United     79
Karachi Kings        90
Quetta Gladiators    93
Lahore Qalanders     95
Peshawar Zalmi       97
Name: count, dtype: int64

descending Order

Team Name
Peshawar Zalmi       97
Lahore Qalanders     95
Quetta Gladiators    93
Karachi Kings        90
Islamabad United     79
Multan Sultans       67
Name: count, dtype: int64

# Sorting in Datafrema Data

In [27]:
import numpy as np
import pandas as pd

data=pd.read_csv('battingAvg.csv')

data.sort_values('Player').head()

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s,Team Name
292,28,A Lyth,2020-2020,2,2,0,59,50,29.50,36,163.88,0,1,0,4,4,Multan Sultans
192,23,AB de Villiers,2019-2019,7,7,3,218,52*,54.50,169,128.99,0,1,0,19,5,Lahore Qalanders
102,23,AD Hales,2020-2020,9,7,1,272,80*,45.33,183,148.63,0,2,0,25,12,Karachi Kings
27,27,AD Hales,2018-2023,25,25,1,760,82*,31.66,535,142.05,0,4,0,94,24,Islamabad United
490,62,AD Russell,2021-2021,1,1,0,13,13,13.00,6,216.66,0,0,0,0,2,Quetta Gladiators

## Multiply Columns

In [28]:
import numpy as np
import pandas as pd

data=pd.read_csv('battingAvg.csv')

data.sort_values(['Player','Team Name'])

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s,Team Name
292,28,A Lyth,2020-2020,2,2,0,59,50,29.50,36,163.88,0,1,0,4,4,Multan Sultans
192,23,AB de Villiers,2019-2019,7,7,3,218,52*,54.50,169,128.99,0,1,0,19,5,Lahore Qalanders
27,27,AD Hales,2018-2023,25,25,1,760,82*,31.66,535,142.05,0,4,0,94,24,Islamabad United
102,23,AD Hales,2020-2020,9,7,1,272,80*,45.33,183,148.63,0,2,0,25,12,Karachi Kings
59,59,AD Russell,2016-2018,14,12,2,110,35*,11.00,92,119.56,0,0,1,9,6,Islamabad United
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,77,Zeeshan Zameer,2022-2023,3,1,0,0,0,0.00,1,0.00,0,0,1,0,0,Islamabad United
262,93,Zia-ul-Haq,2016-2016,3,-,-,-,-,-,-,-,-,-,-,-,-,Lahore Qalanders
78,78,Zohaib Khan,2017-2017,1,-,-,-,-,-,-,-,-,-,-,-,-,Islamabad United
263,94,Zohaib Khan,2016-2016,7,4,3,18,10*,18.00,13,138.46,0,0,1,1,0,Lahore Qalanders
520,92,Zulfiqar Babar,2016-2017,18,6,3,23,20*,7.66,17,135.29,0,0,2,1,1,Quetta Gladiators

In [32]:
import numpy as np
import pandas as pd

data=pd.read_csv('battingAvg.csv')
data.sort_values(['Player','Span'],ascending=[True,False])

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s,Team Name
292,28,A Lyth,2020-2020,2,2,0,59,50,29.50,36,163.88,0,1,0,4,4,Multan Sultans
192,23,AB de Villiers,2019-2019,7,7,3,218,52*,54.50,169,128.99,0,1,0,19,5,Lahore Qalanders
102,23,AD Hales,2020-2020,9,7,1,272,80*,45.33,183,148.63,0,2,0,25,12,Karachi Kings
27,27,AD Hales,2018-2023,25,25,1,760,82*,31.66,535,142.05,0,4,0,94,24,Islamabad United
490,62,AD Russell,2021-2021,1,1,0,13,13,13.00,6,216.66,0,0,0,0,2,Quetta Gladiators
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,77,Zeeshan Zameer,2022-2023,3,1,0,0,0,0.00,1,0.00,0,0,1,0,0,Islamabad United
262,93,Zia-ul-Haq,2016-2016,3,-,-,-,-,-,-,-,-,-,-,-,-,Lahore Qalanders
78,78,Zohaib Khan,2017-2017,1,-,-,-,-,-,-,-,-,-,-,-,-,Islamabad United
263,94,Zohaib Khan,2016-2016,7,4,3,18,10*,18.00,13,138.46,0,0,1,1,0,Lahore Qalanders
520,92,Zulfiqar Babar,2016-2017,18,6,3,23,20*,7.66,17,135.29,0,0,2,1,1,Quetta Gladiators